<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scan_tiket_kapal">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".config.AppControler"
        android:allowBackup="true"
        android:icon="@mipmap/xharbor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xharbor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon,theme,label">

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name=".Home" />
        <activity
            android:name=".config.SettingIp"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".config.SettingIPAwal"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".penumpang.QrScannerPenumpang"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".penumpang.HasilScanPenumpang"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".kargo.QrScanKargo"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".kargo.HasilScanKargo"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".penumpang.Penumpang"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".kargo.Kargo"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme" />

    </application>


</manifest>